# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PDM files
.pdm.toml
.pdm-python
.pdm-build/

# Virtual environment
.venv

# Secrets
.env

# Project-specific
prs.pickle
ip_box.csv
